body {
  margin:auto !important;
}

.container{
  width: 550px;
  margin-top: 50px;
}

h2 {
  font-style: bold !important;
}

#pad {
  background-color: #00689D;
  margin-bottom: 0px;
  padding-left: 10px;
  color: #FFFFFF;
  font-family: "Ubuntu";
}

#pad_up {
  background-color: #00689D;
  margin-bottom: 0px;
  padding-left: 10px;
  color: #FFFFFF;
  font-family: "Ubuntu";
}

#success{
  background-color: #00689D;
  margin-top: 150px;
  margin-bottom: 0px;
  color: #FFFFFF;
  font-size: 40px;
  font-family: "Ubuntu";
  text-align: center;
  padding-left: 0px
}

#center {
  text-align:center;
}

button {
  border: none !important;
  color: #FFFFFF !important;
}

#yes_button {
  background-color: #00689D;
  font-weight: bold;
}

#no_button {
  background-color: #27303F;
  font-weight: bold;
}
